@import url('https://fonts.googleapis.com/css2?family=Asset&family=The+Girl+Next+Door&family=Xanh+Mono:ital@0;1&display=swap');
@import "tailwindcss";

@theme {
    --font-door: "The Girl Next Door", sans-serif;
    --font-mono: "Xanh Mono", sans-serif;
    --font-asset: "Asset", sans-serif;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}